/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
/*#page {
    margin: 0px;
}*/

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}

a {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}

#page {

}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

header {
    background-color: grey;
    height: 200px;
}

#navigation {
    background-color: #EEE;
    width: 100%;
    padding: 15px;
}

#content {
    border: 1px grey solid;
    padding: 15px;
}

.sidebar {
    padding: 15px;
    background-color: grey;
}

.breadcrumb {
    display: none;
}

.form-submit {
    background-color: #EEE;
    border-radius: 6px;
}

.form-submit:hover {
    background-color: black;
    color: white;
}
